// Body
// $body-bg: #f8fafc;
$primary: #68b9f0;
$secondary: #28354d;
$triary: #445066;
$bg: #f7f7fa;
$bg-2: #f7f7fa;
$light-25: #ffffff38;
$light-50: #ffffff81;
$black: #292624;
$black-75: #292624bb;
$black-50: #29262473;
$black-25: #29262438;
$black-5: #29262410;

// Typography
$font-family-sans-serif: 'Exo 2', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$container-max-widths: (
    sm: 100%,
    md: 100%,
    lg: 100%,
    xl: 90%,
    xxl: 80%
);
